@model WeltrettungAuftrag.Models.Kampf

@{
    ViewData["Title"] = "Create";
}

<h3>Create</h3>

<h3>Geben Sie Ihren erwünschten Kampf</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kampfbezeichnung" class="control-label"></label>
                <input asp-for="Kampfbezeichnung" class="form-control" />
                <span asp-validation-for="Kampfbezeichnung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aggressor" class="control-label"></label>
                <select asp-for="AggressorId" class ="form-control" asp-items="ViewBag.AggressorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Held" class="control-label"></label>
                <select asp-for="HeldId" class ="form-control" asp-items="ViewBag.HeldId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
